{% extends "base.html" %}

{% load static %}

{% block title %}
About
{% endblock title %}

{% block content %}


<!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="about_taital_main">
               <div class="about_taital">About Us</div>
               <p class="about_text">
                  We at <b style="color: #f76d37;">AM</b>DIA we believe that dining is more than just a meal — it's an experience. From the moment you step through our doors, you’re welcomed into an atmosphere of warmth, elegance, and exceptional hospitality. Our carefully curated menu features a blend of traditional flavors and modern culinary artistry, crafted with the freshest ingredients and the highest standards. Whether you're joining us for a casual lunch, a family dinner, or a special celebration, AMDIA promises a dining experience that delights the senses and leaves lasting memories.
               </p>
               <div class="read_bt"><a href="#">Read More</a></div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="about_img"><img src="{% static 'images/cook1.jpg' %}" style="border: none; border-radius: 0%;"></div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}