{% extends "base.html" %}

{% load static %}

{% block title %}
  menu
{% endblock title %}



{% block content %}
<!--First gallery section start -->
<div class="main-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <h1 class="center-text">Explore Our Menu</h1>
        <h3>Choose from a diverse menu featuring a delectable array of dishes.
            <br> Our mission is to satisfy your cravings and elevate your dining experience, one delicious meal at a time.
        </h3>
    </div>
</div>
<!-- First gallery section end -->
<!-- Second gallery section start -->
<div class="card text-center tab-titles-class">
    <h1>Today's special</h1>
    <h3 style="margin-bottom: 30px;">Handpicked dishes just for you:</h3>
    <div class="tab-content active-tab" id="buff" onclick="opentab('buff')">
        <div class="container">
            <div class="row">
                <div class="col-md-4 menu-item" data-aos="flip-right">
                    <div class="row-md-4">
                        <p>
                            <img src="{% static 'images/pizza.jpg' %}">
                        </p>
                    </div>
                    <div class="row-md-2">
                        <span>Bacon Pizza</span>
                        <div class="card-price">रु820</div>
                    </div>
                </div>
                <div class="col-md-4 menu-item" data-aos="flip-right">
                    <div class="row-md-4">
                        <p>
                            <img src="{% static 'images/prashant.jpg' %}">
                        </p>
                    </div>
                    <div class="row-md-4">
                        <span>Prashant</span>
                        <div class="card-price">रु130</div>
                    </div>
                </div>
                <div class="col-md-4 menu-item" data-aos="flip-right">
                    <div class="row-md-4">
                        <p>
                            <img src="{% static 'images/cake.jpg' %}">
                        </p>
                    </div>
                    <div class="row-md-4">
                        <span>Cupcake</span>
                        <div class="card-price">रु200</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--gallery section end -->
    
    
    <!-- third  menu gallery section -->
    <h1>Our Menu</h1>
    <div class="menu-scroll">
        <div class="food-categories">
            <div class="category">
                <div class="image-wrapper active">
                    <img src="{% static 'images/salad.png'%}">
                </div>
                <p>Salads</p>
            </div>
            <div class="category">
                <div class="image-wrapper">
                    <img src="{% static 'images/sushi.png'%}">
                </div>
                <p>Sushi</p>
            </div>
            <div class="category">
                <div class="image-wrapper">
                    <img src="{% static 'images/dessert.png' %}">
                </div>
                <p>Desserts</p>
            </div>
            <div class="category">
                <div class="image-wrapper">
                    <img src="{% static 'images/burger.png'%}">
                </div>
                <p>Burgers</p>
            </div>
            <div class="category">
                <div class="image-wrapper">
                    <img src="{% static 'images/pizza.png'%}">
                </div>
                <p>Pizzas</p>
            </div>
            <div class="category">
                <div class="image-wrapper">
                    <img src="{% static 'images/drinks.png'%}">
                </div>
                <p>Drinks</p>
            </div>
            <!-- Add more items similarly -->
        </div>
    </div>
    <!-- third menu gallery section end-->
{% endblock content %}
    <!-- <br> <a href="#">Soups</a>
<a href="#">Salads</a>
<a href="#">Appetizers</a>
<a href="#">Curries</a>
<a href="#">Biryani</a>
<a href="#">Tandoori</a>
<a href="#">See All</a> -->
